<h3 id="titleAction">Registro</h3>
<form id="form">
    <div class="form-group">
        <label for="codigo">Código</label>
        <input type="text" class="form-control form-control-sm" id="codigo" name="codigo" placeholder="Código" maxlength="10">
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" maxlength="100">
    </div>
    <div class="only-options-right">
        <input type="hidden" id="action" name="action" value="i">
        <button type="submit" class="btn btn-success btn-sm"><i class="la la-save"></i>Guardar</button>
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="closeLastModal();">Cancelar</button>
    </div>
</form>
<script>
    function saveUnidadMedida() {
        postJSONForm("UnidadMedida_C.php", "form", function (data) {
            if (!validErrorResponse(data)) {
                closeLastModal();
                notifySuccess();
                listUnidadesMedida();
            }
        });
    }
    function getUnidadMedida() {
        if ($("#action").val() === "u") {
            postJSON("UnidadMedida_C.php", { action: "get", codigo: $("#form #codigo").val() }, function (data) {
                if (!validErrorResponse(data)) {
                    dataResponse = JSON.parse(data)[0];
                    $("#titleAction").html("Editar");
                    $("#nombre").val(dataResponse.nombre);
                    $("#form #codigo").prop("readonly", true);
                }
            });
        }
    }
    $("#form").validate({
        rules: {
            codigo: {
                required: true,
                maxlength: 100
            },
            nombre: {
                required: true,
                maxlength: 10
            }
        },
        messages: {
            codigo: {
                required: STR_CAMPO_REQUERIDO,
                maxlength: STR_SOLO_SE_PERMITEN + "{0}" + STR_CARACTERES_COMO_MAXIMO
            },
            nombre: {
                required: STR_CAMPO_REQUERIDO,
                maxlength: STR_SOLO_SE_PERMITEN + "{0}" + STR_CARACTERES_COMO_MAXIMO
            }
        },
        submitHandler: function (form) {
            saveUnidadMedida();
        }
    });
</script>