<h3 id="title">Generar Pago</h3>
<form id="formPagoContratista">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="proyecto_id">Proyecto</label>
                <select class="form-control form-control-sm form-control-autocomplete" id="proyecto_id" name="proyecto_id">
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="persona_contratista_id">Contratista</label>
                <select class="form-control form-control-sm form-control-autocomplete" id="persona_contratista_id" name="persona_contratista_id">
                    <option value="">Seleccione Contratista</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="proyecto_trabajo_id">Trabajo</label>
                <select class="form-control form-control-sm form-control-autocomplete" id="proyecto_trabajo_id" name="proyecto_trabajo_id">
                    <option value="">Seleccione Trabajo</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="fecha_inicio">Fecha de Inicio</label>
                <input type="text" class="form-control form-control-sm form-control-date" id="fecha_inicio" name="fecha_inicio" placeholder="Fecha de Inicio" maxlength="10">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="fecha_termino">Fecha de Término</label>
                <input type="text" class="form-control form-control-sm form-control-date" id="fecha_termino" name="fecha_termino" placeholder="Fecha de Término" maxlength="10">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="kt-checkbox">
                <input type="checkbox" id="pagado" name="pagado">
                Pagado
                <span></span>
            </label>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="cantidad_adelanto_restante">Adelanto Restante</label>
                <input type="text" class="form-control form-control-sm" id="cantidad_adelanto_restante" name="cantidad_adelanto_restante" placeholder="Cantidad Adelanto Restante" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="valor_venta">Valor Venta</label>
                <input type="text" class="form-control form-control-sm" id="valor_venta" name="valor_venta" placeholder="Valor Venta" readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="amortizacion_adelanto">Amortización de Adelanto</label>
                <input type="text" class="form-control form-control-sm" id="amortizacion_adelanto" name="amortizacion_adelanto" placeholder="Amortización de Adelanto" readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="retencion_fondo_garantia">Retención Fondo de Garantía</label>
                <input type="text" class="form-control form-control-sm" id="retencion_fondo_garantia" name="retencion_fondo_garantia" placeholder="Retención Fondo Garantía" readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="sub_total">Sub Total</label>
                <input type="text" class="form-control form-control-sm" id="sub_total" name="sub_total" placeholder="Sub Total" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="igv">I.G.V.</label>
                <input type="text" class="form-control form-control-sm" id="igv" name="igv" placeholder="I.G.V." readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="total">Total</label>
                <input type="text" class="form-control form-control-sm" id="total" name="total" placeholder="Total" readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="detraccion">Detracción</label>
                <input type="text" class="form-control form-control-sm" id="detraccion" name="detraccion" placeholder="Detracción" readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="descuento_adelanto">Descuento por adelanto</label>
                <input type="text" class="form-control form-control-sm form-control-decimal" id="descuento_adelanto" name="descuento_adelanto" placeholder="Descuento por adelanto" maxlength="21" onchange="changeNetoPagar();">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="comprobante_pago_tipo_id">Tipo Comprobante</label>
                <select class="form-control form-control-sm form-control-autocomplete" id="comprobante_pago_tipo_id" name="comprobante_pago_tipo_id">
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="comprobante_pago_codigo">Código Comprobante</label>
                <input type="text" class="form-control form-control-sm" id="comprobante_pago_codigo" name="comprobante_pago_codigo" placeholder="Código Comprobante" maxlength="100">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="fecha_pago">Fecha de Pago</label>
                <input type="text" class="form-control form-control-sm form-control-date" id="fecha_pago" name="fecha_pago" placeholder="Fecha de Pago" maxlength="10">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="neto_pagar">Neto a Pagar</label>
                <input type="text" class="form-control form-control-sm" id="neto_pagar" name="neto_pagar" placeholder="Neto a Pagar" readonly>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-12">
            <div style="text-align: right;">
                <input type="hidden" id="porcentaje_amortizacion_adelanto" name="porcentaje_amortizacion_adelanto">
                <input type="hidden" id="porcentaje_retencion_fondo_garantia" name="porcentaje_retencion_fondo_garantia">
                <input type="hidden" id="action" name="action">
                <input type="hidden" id="id" name="id">
                <button type="submit" id="btnVisualizar" class="btn btn-outline-info btn-sm" onclick="$('#action').val('view')"><i class="la la-eye"></i> Visualizar</button>
                <button type="submit" id="btnGenerar" class="btn btn-success btn-sm" onclick="$('#action').val('generate')"><i class="la la-save"></i> Generar</button>
                <button type="button" class="btn btn-outline-danger btn-sm" onclick="closeLastModal();">Cancelar</button>
            </div>
        </div>
    </div>
    <div id="divTableAvances" style="display: none;">
        <table id="tableAvances" class="table table-hover table-bordered table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Código</th>
                    <th>Partida</th>
                    <th>Pre.Unit.</th>
                    <th>Cant.</th>
                    <th>Precio</th>
                    <th>F. Inicio</th>
                    <th>F. Término</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</form>
<script>
    function fillComprobantePagoTipo(idComprobantePagoTipo, callback) {
        postJSON("ComprobantePagoTipo_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                $("#formPagoContratista #comprobante_pago_tipo_id").html('<option value="">Seleccione Tipo Comprobante</option>');
                var arrayTipoComprobante = JSON.parse(data);
                arrayTipoComprobante.forEach(function (object, index) {
                    $("#formPagoContratista #comprobante_pago_tipo_id").append('<option value="' + object.codigo + '">' + object.nombre + '</option>');
                });
                if (typeof idComprobantePagoTipo !== 'undefined') {
                    $("#formPagoContratista #comprobante_pago_tipo_id").val(idComprobantePagoTipo);
                }
                startSelect2ById("comprobante_pago_tipo_id");
                if (typeof callback !== 'undefined') callback();
            }
        });
    }
    function fillProyecto(idProyecto, callback) {
        postJSON("Proyecto_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                $("#formPagoContratista #proyecto_id").html('<option value="">Seleccione Proyecto</option>');
                var arrayProyectos = JSON.parse(data);
                arrayProyectos.forEach(function (object, index) {
                    $("#formPagoContratista #proyecto_id").append('<option value="' + object.id + '">' + object.nombre + '</option>');
                });
                if (typeof idProyecto !== 'undefined') {
                    $("#formPagoContratista #proyecto_id").val(idProyecto);
                }
                startSelect2ById("proyecto_id");
                if (typeof callback !== 'undefined') callback();
            }
        });
    }
    function fillContratista(idContratista, callback) {
        postJSON("ProyectoTrabajo_C.php", { "action": "listContratistasByProyecto", proyecto_id: $("#proyecto_id").val() }, function (data) {
            if (!validErrorResponse(data)) {
                $("#formPagoContratista #persona_contratista_id").html('<option value="">Seleccione Contratista</option>');
                var arrayContratistas = JSON.parse(data);
                arrayContratistas.forEach(function (object, index) {
                    $("#formPagoContratista #persona_contratista_id").append('<option value="' + object.persona_contratista_id + '">' + object.contratista + '</option>');
                });
                if (typeof idContratista !== 'undefined') {
                    $("#formPagoContratista #persona_contratista_id").val(idContratista);
                }
                startSelect2ById("persona_contratista_id");
                if (typeof callback !== 'undefined') callback();
            }
        });
    }
    function fillProyectoTrabajo(idProyectoTrabajo) {
        postJSON("ProyectoTrabajo_C.php", { "action": "listByProyectoAndContratista", proyecto_id: $("#proyecto_id").val(), persona_contratista_id: $("#persona_contratista_id").val() }, function (data) {
            if (!validErrorResponse(data)) {
                $("#formPagoContratista #proyecto_trabajo_id").html('<option value="">Seleccione Trabajo</option>');
                var arrayProyectoTrabajo = JSON.parse(data);
                arrayProyectoTrabajo.forEach(function (object, index) {
                    $("#formPagoContratista #proyecto_trabajo_id").append('<option value="' + object.id + '" data-cantidad_adelanto_restante="' + object.cantidad_adelanto_restante + '" data-porcentaje_amortizacion_adelanto="' + object.porcentaje_amortizacion_adelanto + '" data-porcentaje_retencion_fondo_garantia="' + object.porcentaje_retencion_fondo_garantia + '">' + object.nombre + '</option>');
                });
                if (typeof idProyectoTrabajo !== 'undefined') {
                    $("#formPagoContratista #proyecto_trabajo_id").val(idProyectoTrabajo);
                }
                startSelect2ById("proyecto_trabajo_id");
            }
        });
    }
    $("#proyecto_id").change(function () {
        fillContratista();
        if ($("#proyecto_id").val() == "") {
            $("#proyecto_trabajo_id").html('<option value="">Seleccione Trabajo</option>');
            $("#persona_contratista_id").html('<option value="">Seleccione Contratista</option>');
        }
    });
    $("#persona_contratista_id").change(function () {
        fillProyectoTrabajo();
    });
    $("#proyecto_trabajo_id").change(function () {
        var cantidad_adelanto_restante = $("#proyecto_trabajo_id option:selected").attr("data-cantidad_adelanto_restante");
        var porcentaje_amortizacion_adelanto = $("#proyecto_trabajo_id option:selected").attr("data-porcentaje_amortizacion_adelanto");
        var porcentaje_retencion_fondo_garantia = $("#proyecto_trabajo_id option:selected").attr("data-porcentaje_retencion_fondo_garantia");
        $("#cantidad_adelanto_restante").val(cantidad_adelanto_restante);
        $("#porcentaje_amortizacion_adelanto").val(porcentaje_amortizacion_adelanto);
        $("#porcentaje_retencion_fondo_garantia").val(porcentaje_retencion_fondo_garantia);
    });
    function createRowAvancesHTML(object) {
        var html =
            '<tr><input type="hidden" name="avances" value="' + object.id + '">' +
            '<td>' + object.codigo + '</td>' +
            '<td>' + object.partida + '</td>' +
            '<td>' + object.precio_unitario_avance + '</td>' +
            '<td>' + object.cantidad_avance + '</td>' +
            '<td>' + object.precio_avance + '</td>' +
            '<td>' + object.fecha_inicio_avance + '</td>' +
            '<td>' + object.fecha_termino_avance + '</td>' +
            '</tr>'
        return html;
    }
    function changeNetoPagar() {
        var detraccion = $("#detraccion").val();
        var descuento_adelanto = $("#descuento_adelanto").val() === "" ? Number(0) : Number($("#descuento_adelanto").val());
        var netoPagar = Number($("#total").val()) - Number(detraccion) - Number(descuento_adelanto);
        $("#neto_pagar").val(netoPagar.toFixed(2));
    }
    function listAvancesByProyectoTrabajo() {
        $("#divTableAvances").hide();
        $("#monto_total").val("");
        destroyDataTableIfExists("tableAvances");
        $("#tableAvances tbody").html("");
        var idProyectoTrabajo = $("#proyecto_trabajo_id").val();
        var fechaInicio = $("#fecha_inicio").val();
        var fechaTermino = $("#fecha_termino").val();
        if (idProyectoTrabajo !== "" && fechaInicio !== "" && fechaTermino !== "") {
            $("#divTableAvances").show();
            postJSON("ProyectoTrabajoPartidaAvance_C.php", {
                "action": "listByProyectoTrabajo",
                "proyecto_trabajo_id": idProyectoTrabajo,
                "fecha_inicio": fechaInicio,
                "fecha_termino": fechaTermino
            }, function (data) {
                if (!validErrorResponse(data)) {
                    var valorVenta = 0;
                    var arrayAvances = JSON.parse(data);
                    arrayAvances.forEach(function (object, index) {
                        var html = createRowAvancesHTML(object);
                        valorVenta += Number(object.precio_avance);
                        $("#tableAvances tbody").append(html);
                    });
                    $('#tableAvances').DataTable();
                    var proyecto_trabajo_text = $("#proyecto_trabajo_id option:selected").text();
                    if (proyecto_trabajo_text.toUpperCase().includes("ESTRUCTURA") || proyecto_trabajo_text.toUpperCase().includes("ARQUITECTURA") || proyecto_trabajo_text.toUpperCase().includes("ADICIONALES")) {
                        valorVenta = valorVenta + (valorVenta * 0.04);
                    }
                    $("#valor_venta").val(valorVenta.toFixed(2));
                    var cantidadAdelantoRestante = $("#cantidad_adelanto_restante").val();
                    var porcentaje_amortizacion_adelanto = $("#porcentaje_amortizacion_adelanto").val();
                    porcentaje_amortizacion_adelanto = Number(porcentaje_amortizacion_adelanto) / 100;
                    var porcentaje_retencion_fondo_garantia = $("#porcentaje_retencion_fondo_garantia").val();
                    porcentaje_retencion_fondo_garantia = Number(porcentaje_retencion_fondo_garantia) / 100;
                    var amortizacionAdelanto = valorVenta * porcentaje_amortizacion_adelanto;
                    var retencionFondoGarantia = Number(valorVenta) * porcentaje_retencion_fondo_garantia;
                    var subTotal = Number(valorVenta) - Number(amortizacionAdelanto) - Number(retencionFondoGarantia);
                    var igv = subTotal * 0.18;
                    var total = Number(subTotal) + Number(igv);
                    var detraccion = total * 0.12;
                    var descuento_adelanto = $("#descuento_adelanto").val();
                    var netoPagar = Number(total) - Number(detraccion) - Number(descuento_adelanto);
                    $("#amortizacion_adelanto").val(Number(amortizacionAdelanto).toFixed(2));
                    $("#retencion_fondo_garantia").val(retencionFondoGarantia.toFixed(2));
                    $("#sub_total").val(subTotal.toFixed(2));
                    $("#igv").val(igv.toFixed(2));
                    $("#total").val(total.toFixed(2));
                    $("#detraccion").val(detraccion.toFixed(2));
                    $("#neto_pagar").val(netoPagar.toFixed(2));
                }
            });
        } else if (idProyectoTrabajo == "") {
            customAlert("Seleccione un Trabajo", function () {
                $("#proyecto_trabajo_id").select2("open");
            });
        } else if (fechaInicio == "") {
            customAlert("Ingrese Fecha de Inicio", function () {
                $("#fecha_inicio").focus();
            });
        } else if (fechaTermino == "") {
            customAlert("Ingrese Fecha de Término", function () {
                $("#fecha_termino").focus();
            });
        }
    }
    function listAvancesByProyectoTrabajoView(idPagoContratista) {
        $("#divTableAvances").show();
        postJSON("ProyectoTrabajoPartidaAvance_C.php", {
            "action": "listByPagoContratista",
            "pago_contratista_id": idPagoContratista
        }, function (data) {
            if (!validErrorResponse(data)) {
                var arrayAvances = JSON.parse(data);
                arrayAvances.forEach(function (object, index) {
                    var html = createRowAvancesHTML(object);
                    $("#tableAvances tbody").append(html);
                });
                $('#tableAvances').DataTable();
            }
        });
    }
    function generate() {
        var AvanceElements = $("[name=avances]");
        var JSONElements = {};
        $.map(AvanceElements, function (object, index) {
            id = $(object).val();
            JSONElements[index] = {
                id: id
            };
        });
        if (AvanceElements.length > 0) {
            postJSON("PagoContratista_C.php", {
                "action": "i", "listAvances": JSONElements,
                persona_contratista_id: $("#persona_contratista_id").val(),
                proyecto_trabajo_id: $("#proyecto_trabajo_id").val(),
                proyecto_trabajo_text: $("#proyecto_trabajo_id option:selected").text(),
                proyecto_id: $("#proyecto_id").val(),
                fecha_inicio: $("#fecha_inicio").val(),
                fecha_termino: $("#fecha_termino").val(),
                valor_venta: $("#valor_venta").val(),
                pagado: $("#pagado").is(":checked"),
                descuento_adelanto: $("#descuento_adelanto").val(),
                comprobante_pago_tipo_id: $("#comprobante_pago_tipo_id").val(),
                comprobante_pago_codigo: $("#comprobante_pago_codigo").val(),
                fecha_pago: $("#fecha_pago").val()
            }, function (data) {
                if (!validErrorResponse(data)) {
                    closeLastModal();
                    notifySuccess();
                    listPagosContratistas();
                }
            });
        } else {
            customAlert("Para generar un pago, se debe tener registrado al menos un avance");
        }
    }
    $("#formPagoContratista").validate({
        rules: {
            proyecto_id: {
                required: true
            },
            persona_contratista_id: {
                required: true
            },
            proyecto_trabajo_id: {
                required: true,
                maxlength: 21,
                number: true
            },
            fecha_inicio: {
                required: true,
                maxlength: 10,
                dateITA: true,
                maxDate: function () {
                    return $("#fecha_termino").val();
                }
            },
            fecha_termino: {
                required: true,
                maxlength: 10,
                dateITA: true,
                minDate: function () {
                    return $("#fecha_inicio").val();
                }
            },
            valor_venta: {
                required: function () {
                    return $("#action").val() === "generate" ? true : false;
                }
            }
        },
        submitHandler: function (form, event) {
            var action = $("#formPagoContratista #action").val();
            if (action === "view") {
                listAvancesByProyectoTrabajo();
            } else if (action === "generate") {
                generate();
            }
        }
    });
    startDatePicker();
    setTimeout(function () {
        startSelect2ById("proyecto_id");
        startSelect2ById("proyecto_trabajo_id");
        startSelect2ById("persona_contratista_id");
    }, 500);
    function viewPagoContratista() {
        postJSON("PagoContratista_C.php", { action: "get", id: $("#id").val() }, function (data) {
            if (!validErrorResponse(data)) {
                $("#cantidad_adelanto_restante").parent().parent().remove();
                $("#btnVisualizar").remove();
                $("#btnGenerar").remove();
                dataResponse = JSON.parse(data)[0];
                fillProyecto(dataResponse.proyecto_id, function () {
                    $("#proyecto_id").attr("disabled", true);
                    fillContratista(dataResponse.persona_contratista_id, function () {
                        $("#persona_contratista_id").attr("disabled", true);
                        fillProyectoTrabajo(dataResponse.proyecto_trabajo_id);
                        $("#proyecto_trabajo_id").attr("disabled", true);
                    });
                });
                $("#fecha_inicio").val(dataResponse.fecha_inicio).attr("disabled", true);
                $("#fecha_termino").val(dataResponse.fecha_termino).attr("disabled", true);
                if (dataResponse.pagado === "1") $("#pagado").attr("checked", true).attr("disabled", true);
                $("#valor_venta").val(dataResponse.valor_venta).attr("disabled", true);
                $("#amortizacion_adelanto").val(dataResponse.amortizacion_adelanto).attr("disabled", true);
                $("#retencion_fondo_garantia").val(dataResponse.retencion_fondo_garantia).attr("disabled", true);
                $("#sub_total").val(dataResponse.sub_total).attr("disabled", true);
                $("#igv").val(dataResponse.igv).attr("disabled", true);
                $("#total").val(dataResponse.total).attr("disabled", true);
                $("#detraccion").val(dataResponse.detraccion).attr("disabled", true);
                $("#neto_pagar").val(dataResponse.neto_pagar).attr("disabled", true);
                $("#descuento_adelanto").val(dataResponse.descuento_adelanto).attr("disabled", true);
                $("#comprobante_pago_codigo").val(dataResponse.comprobante_pago_codigo).attr("disabled", true);
                $("#fecha_pago").val(dataResponse.fecha_pago).attr("disabled", true);
                fillComprobantePagoTipo(dataResponse.comprobante_pago_tipo_id, function () {
                    $("#comprobante_pago_tipo_id").attr("disabled", true);
                });
                listAvancesByProyectoTrabajoView($("#id").val());
            }
        });
    }
    startDecimalNumbers(18, 2);
</script>