<h3 id="titleActionPersonaEmail">Registro</h3>
<form id="formEmail">
    <div class="form-group">
        <label for="email_tipo_id">Tipo</label>
        <select class="form-control form-control-sm" id="email_tipo_id" name="email_tipo_id" placeholder="Tipo">
        </select>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control form-control-sm" id="email" name="email" placeholder="Email" maxlength="100">
    </div>
    <div class="only-options-right">
        <input type="hidden" id="persona_id" name="persona_id">
        <input type="hidden" id="action" name="action" value="i">
        <input type="hidden" id="id" name="id">
        <button type="submit" class="btn btn-success btn-sm"><i class="la la-save"></i>Guardar</button>
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="closeLastModal();">Cancelar</button>
    </div>
</form>
<script>
    function fillEmailTipos(idSelected) {
        postJSON("EmailTipo_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                var arrayEmailTipos = JSON.parse(data);
                arrayEmailTipos.forEach(function (object, index) {
                    $("#formEmail #email_tipo_id").append('<option value="' + object.codigo + '">' + object.nombre + '</option>');
                });
                if (typeof idSelected !== 'undefined') {
                    $("#formEmail #email_tipo_id").val(idSelected);
                }
            }
        });
    }
    function getPersonaEmail() {
        if ($("#formEmail #action").val() === "u") {
            postJSON("PersonaEmail_C.php", { action: "get", id: $("#formEmail #id").val() }, function (data) {
                if (!validErrorResponse(data)) {
                    dataResponse = JSON.parse(data)[0];
                    $("#titleActionPersonaEmail").html("Editar");
                    fillEmailTipos(dataResponse.email_tipo_id);
                    $("#formEmail #email").val(dataResponse.email);
                }
            });
        }
    }
    function savePersonaEmail() {
        postJSONForm("PersonaEmail_C.php", "formEmail", function (data) {
            if (!validErrorResponse(data)) {
                dataResponse = JSON.parse(data)[0];
                if ($("#formEmail #action").val() === "i") {
                    if ($(".personaEmailTr").length === 0) {
                        $("#tablePersonaEmails tbody").html("");
                    }
                    createPersonaEmailHTMLTr(dataResponse.id, $("#formEmail #email_tipo_id option:selected").text(), $("#formEmail #email").val());
                } else if ($("#formEmail #action").val() === "u") {
                    var id = $("#formEmail #id").val();
                    $("#personaEmailTr_" + id).remove();
                    createPersonaEmailHTMLTr(id, $("#formEmail #email_tipo_id option:selected").text(), $("#formEmail #email").val());
                }
                closeLastModal();
                notifySuccess();
            }
        });
    }
    $("#formEmail").validate({
        rules: {
            email_tipo_id: {
                required: true
            },
            email: {
                required: true,
                email: true
            }
        },
        submitHandler: function (form) {
            savePersonaEmail();
        }
    });
    $("#formEmail #email").inputmask({ alias: "email" });
</script>