<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Pago Proveedor</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Pago Proveedores </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Listado </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Actualizar" data-placement="top" onclick="listPagoProveedores();"><i class="flaticon-refresh"></i></a>
                <a class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Agregar" data-placement="top" onclick="showPagoProveedorForm('i');"><i class="flaticon2-add-1"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <table id="table" class="table table-hover table-bordered table-striped table-sm">
        <thead class="thead-dark"></thead>
    </table>
</div>
<script>
    function listPagoProveedores() {
        postJSON("PagoProveedor_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                destroyDataTableIfExists("table");
                $('#table').DataTable({
                    data: JSON.parse(data),
                    columns: [
                        { title: "OC", data: "orden_compra" },
                        { title: "Guía de Remisión", data: "guia_remision" },
                        { title: "Proveedor", data: "persona_proveedor" },
                        { title: "T. Comprobante", data: "comprobante_pago_tipo" },
                        { title: "Comprobante Código", data: "comprobante_pago_codigo" },
                        { title: "Fecha Pago.", data: "fecha_pago" },
                        { title: "Monto Total", data: "monto_total" },
                        {
                            title: "Pagado", data: "pagado", render: function (data, type, row, meta) {
                                return data == 1 ? "Si" : "No";
                            }
                        },
                        {
                            title: "Acciones", className: "td-actions", render: function (data, type, row, meta) {
                                /* if (row.pagado === "0") { */
                                    return '<button type="button" class="btn btn-outline-success btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Confirmar Pago" onclick="confirmarPagoProveedor(\'' + row.id + '\');"><i class="fa fa-check"></i></button>&nbsp;' +
                                        '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Editar" onclick="showPagoProveedorForm(\'u\',\'' + row.id + '\');"><i class="fa fa-pencil-alt"></i></button>&nbsp;' +
                                        '<button type="button" class="btn btn-outline-danger btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Eliminar" onclick="deletePagoProveedor(\'' + row.id + '\',\'' + row.proyecto_trabajo_id + '\');"><i class="fa fa-trash"></i></button>';
                                /* } else {
                                    return '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Visualizar" onclick="showPagoProveedorForm(\'v\',\'' + row.id + '\');"><i class="fa fa-eye"></i></button>&nbsp;';
                                } */
                            }
                        }
                    ]
                });
            }
        });
    }
    function showPagoProveedorForm(action, id) {
        getModalExtraLargeWithCallBack('pago_proveedor/iu.html', function () {
            if (action === "i") {
                fillOrdenCompra();
                fillComprobantePagoTipo();
            } else if (action === "u") {
                $("#id").val(id);
                $("#action").val(action);
                getPagoProveedor();
            } else if (action === "v") {
                $("#id").val(id);
                viewPagoProveedor();
            }
        });
    }
    function confirmarPagoProveedor(id) {
        bootbox.confirm({
            message: "¿Está seguro de realizar el pago?",
            className: "fourth-modal",
            callback: function (result) {
                if (result) {
                    postJSON("PagoProveedor_C.php", { action: "uPagado", id: id, pagado: true }, function (data) {
                        if (!validErrorResponse(data)) {
                            notifySuccess();
                            listPagoProveedores();
                        }
                    });
                }
            }
        }).promise().done(function () {
            $(".modal-backdrop").last().addClass("fourth-modal-backdrop");
        });
    }
    function deletePagoProveedor(id) {
        askDelete(function (result) {
            if (result) {
                postJSON("PagoProveedor_C.php", { action: "d", id: id }, function (data) {
                    if (!validErrorResponse(data)) {
                        notifySuccess();
                        listPagoProveedores();
                    }
                });
            }
        });
    }
    listPagoProveedores();
</script>