<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Reporte</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Pago a Contratistas </a>
            </div>
        </div>
    </div>
</div>
<form id="form">
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="persona_proveedor_id">Contratista</label>
                    <select class="form-control form-control-sm form-control-autocomplete" id="persona_proveedor_id" name="persona_proveedor_id">
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="pagado">Pagado</label>
                    <select class="form-control form-control-sm form-control-autocomplete" id="pagado" name="pagado">
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="fecha_pago_inicio">Desde</label>
                    <input type="text" class="form-control form-control-sm form-control-date" id="fecha_pago_inicio" name="fecha_pago_inicio" placeholder="Fecha de Inicio" maxlength="10" onchange="changeInputsReport();">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="fecha_pago_termino">Hasta</label>
                    <input type="text" class="form-control form-control-sm form-control-date" id="fecha_pago_termino" name="fecha_pago_termino" placeholder="Fecha de Término" maxlength="10" onchange="changeInputsReport();">
                </div>
            </div>
        </div>
        <div id="divAlertImprimir" class="alert alert-warning" role="alert">
            Para exportar, primero debe generar el reporte.
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-12">
                <div style="text-align: right;">
                    <input type="hidden" id="action" name="action" value="reportByFechaPagoInicioTermino">
                    <button type="button" id="btn-export" class="btn btn-outline-info btn-sm" style="display: none;"><i class="fa fa-print"></i> Exportar</button>
                    <!-- <button type="button" id="btnImprimir" class="btn btn-outline-info btn-sm" style="display: none;"><i class="fa fa-print"></i> Imprimir</button> -->
                    <button type="submit" id="btnGenerar" class="btn btn-success btn-sm"><i class="la la-save"></i> Generar</button>
                </div>
            </div>
        </div>
        <div id="divTable">
            <table id="table" class="table table-hover table-bordered table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center;">OC</th>
                        <th style="text-align: center;">Guía de Remisión</th>
                        <th style="text-align: center;">Proveedor </th>
                        <th style="text-align: center;">T.Com.</th>
                        <th style="text-align: center;">Código Com.</th>
                        <th style="text-align: center;">Fecha de Pago</th>
                        <th style="text-align: center;">Fecha de Emisión</th>
                        <th style="text-align: center;">Moneda</th>
                        <th style="text-align: center;">Monto Total</th>
                        <th style="text-align: center;">Pagado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="div_export" style="display: none;">
            <table>
                <tr>
                    <td colspan="10" style="text-align: center;">REPORTE DE PAGO A CONTRATISTA</td>
                </tr>
            </table>
            <table id="table_export" border="1">
                <thead>
                    <tr>
                        <th style="text-align: center;">OC</th>
                        <th style="text-align: center;">Guía de Remisión</th>
                        <th style="text-align: center;">Proveedor </th>
                        <th style="text-align: center;">T.Com.</th>
                        <th style="text-align: center;">Código Com.</th>
                        <th style="text-align: center;">Fecha de Pago</th>
                        <th style="text-align: center;">Fecha de Emisión</th>
                        <th style="text-align: center;">Moneda</th>
                        <th style="text-align: center;">Monto Total</th>
                        <th style="text-align: center;">Pagado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
<script>
    $("#btn-export").click(function () {
        destroyDataTableIfExists("table");
        var tbody = $("#table tbody").html();
        $("#table_export tbody").html(tbody);
        $("#table").DataTable();
        var tableExport = $("#div_export").html();
        tableExport = tableExport.replace(/ /g, '%20');
        exportHTMLToExcel(tableExport, 'REPORTE_PAGO_CONTRATISTAS');
    });
    $("#form").validate({
        rules: {
            persona_proveedor_id: {
                required: true
            },
            fecha_pago_inicio: {
                required: true,
                maxlength: 10,
                dateITA: true,
                maxDate: function () {
                    return $("#fecha_pago_termino").val();
                }
            },
            fecha_pago_termino: {
                required: true,
                maxlength: 10,
                dateITA: true,
                minDate: function () {
                    return $("#fecha_pago_inicio").val();
                }
            }
        },
        submitHandler: function (form, event) {
            report();
        }
    });
    function fillPersonaByPersonaTipo(idPersona) {
        postJSON("PersonaRol_C.php", {
            action: "listByPersonaTipoAndRolNombre",
            persona_tipo_id: "J",
            rol_nombre: "PROVEEDOR",
        }, function (data) {
            if (!validErrorResponse(data)) {
                $("#persona_proveedor_id").html('<option value="">Seleccione Proveedor</option>');
                var arrayAlmacenes = JSON.parse(data);
                arrayAlmacenes.forEach(function (object, index) {
                    $("#persona_proveedor_id").append('<option value="' + object.id + '" data-numero_documento_identidad="' + object.numero_documento_identidad + '" data-direccion="' + object.direccion + '">' + object.nombre_1 + '</option>');
                });
                if (typeof idPersona !== 'undefined') {
                    $("#persona_proveedor_id").val(idPersona);
                }
                startSelect2ById("persona_proveedor_id");
            }
        });
    }
    function report() {
        postJSONForm("PagoProveedor_C.php", "form", function (data) {
            destroyDataTableIfExists("table");
            $("#table tbody").html("");
            if (!validErrorResponse(data)) {
                dataResponse = JSON.parse(data);
                if (dataResponse.length > 0) {
                    $.map(dataResponse, function (object, index) {
                        var html =
                            `
                            <tr>
                                <td>`+ object.orden_compra + `</td>
                                <td>`+ object.guia_remision + `</td>
                                <td>`+ object.persona_proveedor + `</td>
                                <td>`+ object.comprobante_pago_tipo + `</td>
                                <td>`+ object.comprobante_pago_codigo + `</td>
                                <td>`+ object.fecha_pago + `</td>
                                <td>`+ object.fecha_emision + `</td>
                                <td>`+ object.moneda + `</td>
                                <td>`+ object.monto_total + `</td>
                                <td>`+ (object.pagado === "1" ? `SI` : object.pagado === "0" ? `NO` : ``) + `</td>
                            </tr>
                            `;
                        $("#table tbody").append(html);
                    });
                    $("#btn-export").show();
                    $("#divAlertImprimir").hide();
                }
                $("#table").DataTable();
            }
        });
    }
    /* $("#btnImprimir").click(function () {
        title = `<h1 style="text-align: center;">REPORTE DE PAGO A PROVEEDORES</h1>`;
        body = `<table width="100%" border="1" style="border-collapse: collapse;">` + $("#table").html() + `</table>`;
        w = window.open();
        w.document.write(title + body);
        w.print();
        w.close();
    }); */
    function changeInputsReport() {
        $("#btn-export").hide();
        $("#divAlertImprimir").show();
    }
    fillPersonaByPersonaTipo();
    startDatePicker();
</script>