<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Reporte</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Requerimientos </a>
            </div>
        </div>
    </div>
</div>
<form id="form">
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="proyecto_id">Proyecto</label>
                    <select class="form-control form-control-sm form-control-autocomplete" id="proyecto_id" name="proyecto_id" onchange="changeInputsReport();">
                    </select>
                </div>
            </div>
        </div>
        <div id="divAlertExport" class="alert alert-warning" role="alert">
            Para exportar, primero debe generar el reporte.
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-12">
                <div style="text-align: right;">
                    <input type="hidden" id="action" name="action" value="report">
                    <button type="button" id="btn-export" class="btn btn-outline-info btn-sm" style="display: none;"><i class="fa fa-print"></i> Exportar</button>
                    <button type="submit" id="btnGenerar" class="btn btn-success btn-sm"><i class="la la-save"></i> Generar</button>
                </div>
            </div>
        </div>
        <div id="divTable">
            <table id="table" class="table table-hover table-bordered table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center;">Proyecto</th>
                        <th style="text-align: center;">Código</th>
                        <th style="text-align: center;">Fecha de Pedido</th>
                        <th style="text-align: center;">Usuario</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="div_export" style="display: none;">
            <table>
                <tr>
                    <td colspan="4" style="text-align: center;">REPORTE DE REQUERIMIENTOS</td>
                </tr>
            </table>
            <table id="table_export" border="1">
                <thead>
                    <tr>
                        <th style="text-align: center;">Proyecto</th>
                        <th style="text-align: center;">Código</th>
                        <th style="text-align: center;">Fecha de Pedido</th>
                        <th style="text-align: center;">Usuario</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
<script>
    function fillProyecto(idProyecto, callback) {
        postJSON("Proyecto_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                $("#proyecto_id").html('<option value="TODOS">TODOS</option>');
                var arrayProyectos = JSON.parse(data);
                arrayProyectos.forEach(function (object, index) {
                    $("#proyecto_id").append('<option value="' + object.id + '">' + object.nombre + '</option>');
                });
                if (typeof idProyecto !== 'undefined') {
                    $("#proyecto_id").val(idProyecto);
                }
                startSelect2ById("proyecto_id");
                if (typeof callback !== 'undefined') callback();
            }
        });
    }
    $("#btn-export").click(function () {
        destroyDataTableIfExists("table");
        var tbody = $("#table tbody").html();
        $("#table_export tbody").html(tbody);
        $("#table").DataTable();
        var tableExport = $("#div_export").html();
        tableExport = tableExport.replace(/ /g, '%20');
        exportHTMLToExcel(tableExport, 'REPORTE_REQUERIMIENTOS');
    });
    function changeInputsReport() {
        $("#btn-export").hide();
        $("#divAlertExport").show();
    }
    $("#form").validate({
        rules: {
        },
        submitHandler: function (form, event) {
            report();
        }
    });
    function report() {
        postJSON("ProyectoRequerimiento_C.php", { "action": "listByProyecto", proyecto_id: $("#proyecto_id").val() }, function (data) {
            destroyDataTableIfExists("table");
            $("#table tbody").html("");
            if (!validErrorResponse(data)) {
                dataResponse = JSON.parse(data);
                if (dataResponse.length > 0) {

                    $.map(dataResponse, function (object, index) {
                        var html =
                            `
                            <tr>
                                <td>`+ object.proyecto + `</td>
                                <td>`+ object.codigo + `</td>
                                <td>`+ object.fecha_pedido + `</td>
                                <td>`+ object.per_reg_aud + `</td>
                            </tr>
                            `;
                        $("#table tbody").append(html);
                    });

                    $("#btn-export").show();
                    $("#divAlertExport").hide();
                }
                $("#table").DataTable();
            }
        });
    }
    fillProyecto();
    startDatePicker();
</script>