<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Reporte</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Ventas </a>
            </div>
        </div>
    </div>
</div>
<form id="form">
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div id="divAlertExport" class="alert alert-warning" role="alert">
            Para exportar, primero debe generar el reporte.
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-12">
                <div style="text-align: right;">
                    <input type="hidden" id="action" name="action" value="report">
                    <button type="button" id="btn-export" class="btn btn-outline-info btn-sm" style="display: none;"><i class="fa fa-print"></i> Imprimir</button>
                    <button type="submit" id="btnGenerar" class="btn btn-success btn-sm"><i class="la la-save"></i> Generar</button>
                </div>
            </div>
        </div>
        <div id="divTable">
            <table id="table" class="table table-hover table-bordered table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center;">Proyecto</th>
                        <th style="text-align: center;">Cliente</th>
                        <th style="text-align: center;">Moneda </th>
                        <th style="text-align: center;">Total a Pagar</th>
                        <th style="text-align: center;">Acumulado Pagado</th>
                        <th style="text-align: center;">Saldo por Pagar</th>
                        <th style="text-align: center;">Inmuebles</th>
                        <th style="text-align: center;">Monto Financiado</th>
                        <th style="text-align: center;">Tipo de Venta</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="div_export" style="display: none;">
            <table>
                <tr>
                    <td colspan="9" style="text-align: center;">REPORTE DE VENTAS</td>
                </tr>
            </table>
            <table id="table_export" border="1">
                <thead>
                    <tr>
                        <th style="text-align: center;">Proyecto</th>
                        <th style="text-align: center;">Cliente</th>
                        <th style="text-align: center;">Moneda </th>
                        <th style="text-align: center;">Total a Pagar</th>
                        <th style="text-align: center;">Acumulado Pagado</th>
                        <th style="text-align: center;">Saldo por Pagar</th>
                        <th style="text-align: center;">Inmuebles</th>
                        <th style="text-align: center;">Monto Financiado</th>
                        <th style="text-align: center;">Tipo de Venta</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
<script>
    $("#btn-export").click(function () {
        destroyDataTableIfExists("table");
        var tbody = $("#table tbody").html();
        $("#table_export tbody").html(tbody);
        $("#table").DataTable();
        var tableExport = $("#div_export").html();
        tableExport = tableExport.replace(/ /g, '%20');
        exportHTMLToExcel(tableExport, 'REPORTE_VENTAS');
    });
    function changeInputsReport() {
        $("#btn-export").hide();
        $("#divAlertExport").show();
    }
    $("#form").validate({
        rules: {
        },
        submitHandler: function (form, event) {
            report();
        }
    });
    function report() {
        postJSON("ProyectoVenta_C.php", { "action": "report_by_proyecto_venta" }, function (data) {
            destroyDataTableIfExists("table");
            $("#table tbody").html("");
            if (!validErrorResponse(data)) {
                dataResponse = JSON.parse(data);
                if (dataResponse.length > 0) {

                    $.map(dataResponse, function (object, index) {
                        var detalle = "";

                        $.map(object.detalle, function (objectDetalle, indexDetalle) {
                            detalle += objectDetalle.codigo + ","
                        });

                        detalle = detalle.substring(0, detalle.length - 1);

                        var html =
                            `
                            <tr>
                                <td>`+ object.proyecto + `</td>
                                <td>`+ object.cliente + `</td>
                                <td>`+ object.moneda + `</td>
                                <td>`+ object.total_a_pagar + `</td>
                                <td>`+ object.acumulado_pagado + `</td>
                                <td>`+ object.saldo_por_pagar + `</td>
                                <td>`+ detalle + `</td>
                                <td>`+ object.monto_financiado + `</td>
                                <td>`+ object.tipo_venta + `</td>
                            </tr>
                            `;
                        $("#table tbody").append(html);
                    });

                    $("#btn-export").show();
                    $("#divAlertExport").hide();
                }
                $("#table").DataTable();
            }
        });
    }
    startDatePicker();
</script>