<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Venta</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Ventas </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Listado </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Actualizar" data-placement="top" onclick="listVenta();"><i class="flaticon-refresh"></i></a>
                <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Agregar" data-placement="top" onclick="showVentaForm('i');"><i class="flaticon2-add-1"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <table id="table" class="table table-hover table-bordered table-striped table-sm">
        <thead class="thead-dark"></thead>
    </table>
</div>
<script>
    function listVenta() {
        postJSON("ProyectoVenta_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                destroyDataTableIfExists("table");
                $('#table').DataTable({
                    data: JSON.parse(data),
                    columns: [
                        { title: "Proyecto", data: "proyecto" },
                        { title: "Cliente", data: "cliente" },
                        { title: "Moneda", data: "moneda" },
                        { title: "Total a Pagar", data: "total_a_pagar" },
                        { title: "Acumulado Pagado", data: "acumulado_pagado" },
                        { title: "Saldo por Pagar", data: "saldo_por_pagar" },
                        {
                            title: "Acciones", className: "td-actions", render: function (data, type, row, meta) {
                                return '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Editar" onclick="showVentaForm(\'u\',' + row.id + ');"><i class="fa fa-pencil-alt"></i></button>&nbsp;' +
                                    '<button type="button" class="btn btn-outline-danger btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Eliminar" onclick="deleteVenta(' + row.id + ');"><i class="fa fa-trash"></i></button>'
                            }
                        }
                    ]
                });
            }
        });
    }
    function showVentaForm(action, id) {
        getHTMLContainerWithCallBack('proyecto_venta/iu.html', function () {
            if (action === "i") {
                fillProyecto();
                fillPersonaCliente();
            } else if (action === "u") {
                $("#form #id").val(id);
                $("#form #action").val("u");
                getVenta();
            }
        });
    }
    function deleteVenta(id) {
        askDelete(function (result) {
            if (result) {
                postJSON("ProyectoVenta_C.php", { action: "d", id: id }, function (data) {
                    if (!validErrorResponse(data)) {
                        notifySuccess();
                        listVenta();
                    }
                });
            }
        });
    }
    listVenta();
</script>