<h3 id="titleActionModal">Registro</h3>
<form id="formProyectoVentaCronogramaPago">
    <div class="form-group">
        <label for="monto_a_pagar">Monto a Pagar</label>
        <input type="text" class="form-control form-control-sm form-control-decimal" id="monto_a_pagar" name="monto_a_pagar" placeholder="Monto a Pagar" maxlength="21">
    </div>
    <div class="form-group">
        <label for="fecha_programada">Fecha Programada</label>
        <input type="text" class="form-control form-control-sm form-control-date" id="fecha_programada" name="fecha_programada" placeholder="Fecha Programada" maxlength="10">
    </div>
    <div class="only-options-right">
        <input type="hidden" id="proyecto_venta_id" name="proyecto_venta_id" value="">
        <input type="hidden" id="action_modal" name="action_modal" value="i">
        <input type="hidden" id="id_modal" name="id_modal">
        <button type="submit" class="btn btn-success btn-sm"><i class="la la-save"></i>Guardar</button>
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="closeLastModal();">Cancelar</button>
    </div>
</form>
<script>
    function getProyectoVentaCronogramaPago() {
        postJSON("ProyectoVentaCronogramaPago_C.php", { action: "get", id: $("#id_modal").val() }, function (data) {
            if (!validErrorResponse(data)) {
                dataResponse = JSON.parse(data)[0];
                $("#titleActionModal").html("Editar");
                $("#monto_a_pagar").val(dataResponse.monto_a_pagar);
                $("#fecha_programada").val(dataResponse.fecha_programada);
            }
        });
    }
    $("#formProyectoVentaCronogramaPago").validate({
        rules: {
            monto_a_pagar: {
                required: true,
                maxlength: 21,
                number: true
            },
            fecha_programada: {
                required: true,
                maxlength: 10,
                dateITA: true
            }
        },
        submitHandler: function (form) {
            saveProyectoVentaCronogramaPago();
        }
    });
    function saveProyectoVentaCronogramaPago() {
        postJSON("ProyectoVentaCronogramaPago_C.php", {
            action: $("#action_modal").val(),
            id: $("#id_modal").val(),
            proyecto_venta_id: $("#proyecto_venta_id").val(),
            monto_a_pagar: $("#monto_a_pagar").val(),
            fecha_programada: $("#fecha_programada").val()
        }, function (data) {
            if (!validErrorResponse(data)) {
                closeLastModal();
                notifySuccess();
                listProyectoVentaCronogramaPago();
            }
        });
    }
    startDecimalNumbers(18, 2);
    startDatePicker();
</script>