<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Requerimiento</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Requerimientos </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Listado </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Actualizar" data-placement="top" onclick="listProyectoRequerimientos();"><i class="flaticon-refresh"></i></a>
                <a class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Agregar" data-placement="top" onclick="showProyectoRequerimientoForm('i');"><i class="flaticon2-add-1"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <table id="table" class="table table-hover table-bordered table-striped table-sm responsive">
        <thead class="thead-dark"></thead>
    </table>
</div>
<script>
    function listProyectoRequerimientos() {
        postJSON("ProyectoRequerimiento_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                destroyDataTableIfExists("table");
                $('#table').DataTable({
                    data: JSON.parse(data),
                    columns: [
                        { title: "Proyecto", data: "proyecto" },
                        { title: "Código", data: "codigo" },
                        { title: "Fecha Pedido", data: "fecha_pedido" },
                        { title: "Usuario", data: "per_reg_aud" },
                        {
                            title: "Acciones", className: "td-actions", render: function (data, type, row, meta) {
                                if (row.alert_new_checked === "0") {
                                    return '<button type="button" class="btn btn-outline-success btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Marcar como leído" onclick="updateAlertNewChecked(\'' + row.id + '\');"><i class="fa fa-check"></i></button>&nbsp;' +
                                        '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Editar" onclick="showProyectoRequerimientoForm(\'u\',\'' + row.id + '\');"><i class="fa fa-pencil-alt"></i></button>&nbsp;' +
                                        '<button type="button" class="btn btn-outline-danger btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Eliminar" onclick="deleteProyectoRequerimiento(\'' + row.id + '\');"><i class="fa fa-trash"></i></button>';
                                } else {
                                    return '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Visualizar" onclick="showProyectoRequerimientoForm(\'v\',\'' + row.id + '\');"><i class="fa fa-eye"></i></button>&nbsp;'
                                }

                            }
                        }
                    ],
                    rowCallback: function (row, data) {
                        if (data.alert_new_checked === "0") $(row).addClass('new-row');
                    }
                });
            }
        });
    }
    function showProyectoRequerimientoForm(action, id) {
        getHTMLContainerWithCallBack('proyecto_requerimiento/iu.html', function () {
            if (action === "i") {
                fillProyecto();
                generateNextCodigo();
            } else if (action === "u") {
                $("#form #id").val(id);
                $("#form #action").val(action);
                getProyectoRequerimiento();
            } else if (action === "v") {
                $("#form #id").val(id);
                $("#form #action").val(action);
                getProyectoRequerimiento();
            }
        });
    }
    function updateAlertNewChecked(id) {
        bootbox.confirm({
            message: "¿Está seguro de marcar como leído?",
            className: "fourth-modal",
            callback: function (result) {
                if (result) {
                    postJSON("ProyectoRequerimiento_C.php", { action: "uAlertNewChecked", id: id, alert_new_checked: true }, function (data) {
                        if (!validErrorResponse(data)) {
                            notifySuccess();
                            listProyectoRequerimientos();
                        }
                    });
                }
            }
        }).promise().done(function () {
            $(".modal-backdrop").last().addClass("fourth-modal-backdrop");
        });
    }
    function deleteProyectoRequerimiento(id) {
        askDelete(function (result) {
            if (result) {
                postJSON("ProyectoRequerimiento_C.php", { action: "d", id: id }, function (data) {
                    if (!validErrorResponse(data)) {
                        notifySuccess();
                        listProyectoRequerimientos();
                    }
                });
            }
        });
    }
    listProyectoRequerimientos();
</script>