<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Orden de Compra</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Ordenes de Compra </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link" id="titleAction">
                    Registro </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

            </div>
        </div>
    </div>
</div>
<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__body">
            <form id="form">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="persona_proveedor_id">Proveedor</label>
                            <select class="form-control form-control-sm form-control-autocomplete" id="persona_proveedor_id" name="persona_proveedor_id">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="codigo">Código</label>
                            <input type="text" class="form-control form-control-sm" id="codigo" name="codigo" placeholder="Código" maxlength="100" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input type="text" class="form-control form-control-sm form-control-date" id="fecha" name="fecha" placeholder="Fecha" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="proforma_codigo">Proforma</label>
                            <input type="text" class="form-control form-control-sm" id="proforma_codigo" name="proforma_codigo" placeholder="Proforma" maxlength="100">
                        </div>
                    </div>
                    <div class="col-sm-3" style="display: none;">
                        <div class="form-group">
                            <label for="moneda">Moneda</label>
                            <select class="form-control form-control-sm" name="moneda" id="moneda" onchange="changeMoneda();sumTotals();">
                                <option value="PEN">SOLES</option>
                                <option value="USD">DÓLARES</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="display: none;">
                        <div class="form-group">
                            <label for="tipo_cambio">Tipo de Cambio</label>
                            <input type="text" class="form-control form-control-sm form-control-decimal" id="tipo_cambio" name="tipo_cambio" placeholder="Tipo de Cambio" maxlength="21" value="1" onchange="sumTotals();">
                        </div>
                    </div>
                </div>
                <div class="row" id="div_total" style="display: none;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="kt-checkbox">
                                <input type="checkbox" id="incluye_igv" name="incluye_igv" checked onchange="sumTotals();">
                                <span></span>Incluye I.G.V.</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="igv">I.G.V.</label>
                            <input type="text" class="form-control form-control-sm form-control-decimal" id="igv" name="igv" placeholder="Total Sin I.G.V." maxlength="21" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="total_sin_igv">Total Sin I.G.V.</label>
                            <input type="text" class="form-control form-control-sm form-control-decimal" id="total_sin_igv" name="total_sin_igv" placeholder="Total Sin I.G.V." maxlength="21" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="total">Total</label>
                            <input type="text" class="form-control form-control-sm form-control-decimal" id="total" name="total" placeholder="Total" maxlength="21" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col only-options-right" style="margin-bottom: 10px;">
                        <a id="btn-imprimir" style="display: none;" href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold btn-sm" data-toggle="tooltip" title="Imprimir" data-placement="top"><i class="fa fa-print"></i></a>
                        <span id="divOptionsOrdenCompraDetalle">
                            <a class="btn btn-icon btn btn-label btn-label-brand btn-bold btn-sm" data-toggle="tooltip" title="Actualizar" data-placement="top" onclick="listOrdenCompraDetalles();"><i class="flaticon-refresh"></i></a>
                            <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold btn-sm" data-toggle="tooltip" title="Agregar Detalle" data-placement="top" onclick="showOrdenCompraDetalleForm('i')"><i class="flaticon2-add-1"></i></a>
                        </span>
                        <button type="submit" class="btn btn-success btn-sm"><i class="la la-save"></i>Guardar</button>
                    </div>
                </div>
                <input type="hidden" id="action" name="action" value="i">
                <input type="hidden" id="id" name="id">
            </form>
        </div>
    </div>
    <div style="display: none;">
        <table id="print_table" width="100%" border="1" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>CANTIDAD</th>
                    <th>UNIDAD</th>
                    <th>DESCRIPCIÓN</th>
                    <th>P. UNITARIO</th>
                    <th>PRECIO TOTAL</th>
                </tr>
            </thead>
            <tbody style="text-align: center;"></tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Son:</td>
                </tr>
                <tr>
                    <td colspan="2">Lugar de entrega</td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="2">Forma de Pago</td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="2">Fecha de OC</td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="2">Fecha de Atención</td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="6">Entregar la Factura física en el lugar de entrega del material, en caso de Factura Electrónica remitirla al correo: logistica@cadeza.com.pe. En ambos casos adjuntar la presente Orden de Compra y la Guía de Remisión debidamente sellada por el almacén receptor del material.</td>
                </tr>
                <tr>
                    <td colspan="2">Emitida por:</td>
                    <td colspan="2">Referencia Requerimientos:</td>
                    <td colspan="2">Aprobada por:</td>
                </tr>
                <tr>
                    <td colspan="2">Fecha:</td>
                    <td colspan="2"></td>
                    <td colspan="2">Fecha:</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3"></td>
                    <td colspan="2" style="height: 21px;"></td>
                    <td colspan="2" rowspan="3"></td>
                </tr>
                <tr>
                    <td colspan="2">Referencia Cotización:</td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 21px;"></td>
                </tr>
                <tr>
                    <td colspan="2">Logística:</td>
                    <td colspan="2"></td>
                    <td colspan="2">Gerencia General</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__body">
            <table id="tableDetalle" class="table table-hover table-bordered table-striped table-sm">
                <thead class="thead-dark"></thead>
            </table>
        </div>
    </div>
</div>
<script>
    $("#btn-imprimir").click(function () {
        url_logo = window.location.href.replace("#", "").replace("admin.php", "");
        title = `
        <table width="100%" style="border: 1px solid;">
            <thead>
                <tr>
                    <td rowspan="4" style="padding-right: 20px;"><img src="` + url_logo + `assets/media/logos/logo-deza-nuevo.jpg" style="height: 65px;"></td>
                    <td style="width: 100%;">DEZA CONSTRUCCIONES S.A.C.</td>
                </tr>
                <tr>
                    <td>RUC 20603214596</td>
                </tr>
                <tr>
                    <td>Mz. D - Lt 14 - Interior 101 Urb. Las Hortencias de California</td>
                </tr>
                <tr>
                    <td>Víctor Larco Herrera - Trujillo - La Libertad</td>
                </tr>
            </thead>
        </table>
        <div style="font-weight: bold; margin-bottom: 10px; margin-top: 10px; text-align: center;">ORDEN DE COMPRA</div>
        `;
        subTitle = `
        <table width="100%" border="1" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <td>N°</td>
                    <td>N°` + $("#codigo").val() + `</td>
                </tr>
                <tr>
                    <td>SEÑORES</td>
                    <td>PROYECTO:` + $("#persona_proveedor_id :selected").text() + `</td>
                </tr>
                <tr>
                    <td>RUC</td>
                    <td>` + $("#persona_proveedor_id :selected").attr("data-numero_documento_identidad") + `</td>
                </tr>
                <tr>
                    <td>DIRECCIÓN</td>
                    <td>` + $("#persona_proveedor_id :selected").attr("data-direccion") + `</td>
                </tr>
            </thead>
        </table>
        <div style="margin-top: 10px;">Agradecemos se sirvan atendernos lo siguiente:</div>
        `;
        body = `<table width="100%" border="1" style="border-collapse: collapse;">` + $("#print_table").html() + `</table>`;
        w = window.open();
        w.document.write(title + subTitle + body);
        setTimeout(function () {
            w.print();
            w.close();
        }, 1000);
    });
    function changeMoneda() {
        if ($("#moneda").val() === "PEN") {
            $("#tipo_cambio").parent().parent().hide();
            $("#tipo_cambio").val(1);
        } else {
            $("#tipo_cambio").parent().parent().show();
        }
    }
    function fillPersonaByPersonaTipo(idPersona) {
        postJSON("PersonaRol_C.php", {
            action: "listByPersonaTipoAndRolNombre",
            persona_tipo_id: "J",
            rol_nombre: "PROVEEDOR",
        }, function (data) {
            if (!validErrorResponse(data)) {
                $("#persona_proveedor_id").html('<option value="">Seleccione Proveedor</option>');
                var arrayAlmacenes = JSON.parse(data);
                arrayAlmacenes.forEach(function (object, index) {
                    $("#persona_proveedor_id").append('<option value="' + object.id + '" data-numero_documento_identidad="' + object.numero_documento_identidad + '" data-direccion="' + object.direccion + '">' + object.nombre_1 + '</option>');
                });
                if (typeof idPersona !== 'undefined') {
                    $("#persona_proveedor_id").val(idPersona);
                }
                startSelect2ById("persona_proveedor_id");
            }
        });
    }
    function getOrdenCompra(id) {
        postJSON("OrdenCompra_C.php", { action: "get", id: id }, function (data) {
            if (!validErrorResponse(data)) {
                dataResponse = JSON.parse(data)[0];
                $("#titleAction").html("Editar");
                fillPersonaByPersonaTipo(dataResponse.persona_proveedor_id);
                $("#fecha").val(dataResponse.fecha);
                $("#proforma_codigo").val(dataResponse.proforma_codigo);
                $("#codigo").val(dataResponse.codigo);
                $("#div_total").show();
                $("#moneda").val(dataResponse.moneda);
                $("#tipo_cambio").val(dataResponse.tipo_cambio);
                $("#moneda").parent().parent().show();
                $("#incluye_igv").prop("checked", dataResponse.incluye_igv === "1" ? true : false);
                changeMoneda();
                listOrdenCompraDetalles();
                $("#btn-imprimir").show();
            }
        });
    }
    function generateNextCodigo() {
        postJSON("OrdenCompra_C.php", { action: "generateNextCodigo" }, function (data) {
            if (!validErrorResponse(data)) {
                dataResponse = JSON.parse(data)[0];
                $("#codigo").val(dataResponse.next_codigo);
            }
        });
    }
    $("#form").validate({
        rules: {
            persona_proveedor_id: {
                required: true
            },
            codigo: {
                required: true,
                maxlength: 100
            },
            fecha: {
                required: true,
                dateITA: true
            },
            proforma_codigo: {
                required: true,
                maxlength: 100
            },
            tipo_cambio: {
                required: function () {
                    return $("#moneda").val() === "PEN" ? false : true
                },
                min: 0.001
            }
        },
        submitHandler: function (form) {
            saveOrdenCompra();
        }
    });
    function saveOrdenCompra() {
        postJSONForm("OrdenCompra_C.php", "form", function (data) {
            if (!validErrorResponse(data)) {
                notifySuccess();
                if ($("#form #action").val() === "i") {
                    dataResponse = JSON.parse(data)[0];
                    $("#titleAction").html("Editar");
                    $("#id").val(dataResponse.id);
                    $("#action").val("u");
                    $("#divOptionsOrdenCompraDetalle").show();
                    listOrdenCompraDetalles();
                    $("#div_total").show();
                    $("#moneda").parent().parent().show();
                    changeMoneda();
                }
            }
        });
    }
    //DETALLE
    function sumTotals() {
        var tipo_cambio = $("#tipo_cambio").val();
        var total = 0;
        var total_sin_igv = 0;
        var igv = 0;
        if ($("#incluye_igv").is(":checked") === true) {
            $.map($("[name=orden_compra_detalle_object]"), function (object, index) {
                total += Number($(object).attr("data-sub_total"));
            });
            total_sin_igv = total / 1.18;
            igv = total - total_sin_igv;
        } else {
            $.map($("[name=orden_compra_detalle_object]"), function (object, index) {
                total_sin_igv += Number($(object).attr("data-sub_total"));
            });
            igv = total_sin_igv * 0.18;
            total = total_sin_igv + igv;
        }
        total = total * tipo_cambio;
        total_sin_igv = total_sin_igv * tipo_cambio;
        igv = igv * tipo_cambio;
        $("#total").val(total.round(2));
        $("#total_sin_igv").val(total_sin_igv.round(2));
        $("#igv").val(igv.round(2));
    }
    function showOrdenCompraDetalleForm(action, id) {
        getModalWithCallBack('orden_compra_detalle/iu.html', function () {
            $("#orden_compra_id").val($("#form #id").val());
            if (action === "i") {
                fillProducto();
                fillUnidadMedida();
            } else if (action === "u") {
                $("#formOrdenCompraDetalle #id").val(id);
                $("#formOrdenCompraDetalle #action").val("u");
                getOrdenCompraDetalle(id);
            }
        });
    }
    function listOrdenCompraDetalles() {
        var idOrdenCompra = $("#form #id").val();
        postJSON("OrdenCompraDetalle_C.php", { "action": "listByOrdenCompra", orden_compra_id: idOrdenCompra }, function (data) {
            if (!validErrorResponse(data)) {
                destroyDataTableIfExists("tableDetalle");
                $('#tableDetalle').DataTable({
                    data: JSON.parse(data),
                    columns: [
                        { title: "Producto", data: "producto" },
                        { title: "Unidad de Medida", data: "unidad_medida" },
                        { title: "Precio Unitario", data: "precio_unitario" },
                        { title: "Cantidad Inicial", data: "cantidad" },
                        { title: "Cantidad Usada", data: "cantidad_usada" },
                        { title: "Cantidad Restante", data: "cantidad_restante" },
                        { title: "Sub Total", data: "sub_total" },
                        {
                            title: "Acciones", className: "td-actions", render: function (data, type, row, meta) {
                                html = '<input type="hidden" name="orden_compra_detalle_object" id="orden_compra_detalle_' + row.id + '" data-sub_total="' + row.sub_total + '">';
                                if (row.in_progress == 0 && row.used == 0) {
                                    html +=
                                        '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Editar" onclick="showOrdenCompraDetalleForm(\'u\',' + row.id + ');"><i class="fa fa-pencil-alt"></i></button>&nbsp;' +
                                        '<button type="button" class="btn btn-outline-danger btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Eliminar" onclick="deleteOrdenCompraDetalle(' + row.id + ');"><i class="fa fa-trash"></i></button>';
                                }
                                return html;
                            }
                        }
                    ]
                });
                sumTotals();

                var list = JSON.parse(data);
                list.forEach((row, index) => {
                    $("#print_table tbody").append(`
                    <tr>
                        <td>`+ (index + 1) + `</td>
                        <td>`+ row.cantidad + `</td>
                        <td>`+ row.unidad_medida + `</td>
                        <td>`+ row.producto + `</td>
                        <td>`+ row.precio_unitario + `</td>
                        <td>`+ row.sub_total + `</td>
                    </tr>`);
                });

                for (var i = 0; i < 6; i++) {
                    $("#print_table tbody").append(`
                    <tr>
                        <td>`+ (list.length + i + 1) + `</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>`);
                }

                $("#print_table tbody").append(`
                    <tr>
                        <td colspan="4" style="text-align: right;">Valor Venta</td>
                        <td>`+ ($("#moneda").val() === "PEN" ? `S/` : `$`) + `</td>
                        <td>`+ $("#total_sin_igv").val() + `</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: right;">IGV</td>
                        <td>18.00%</td>
                        <td>`+ $("#igv").val() + `</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: right;">Precio Total</td>
                        <td>`+ ($("#moneda").val() === "PEN" ? `S/` : `$`) + `</td>
                        <td>`+ $("#total").val() + `</td>
                    </tr>
                    `);
            }
        });
    }
    function deleteOrdenCompraDetalle(id) {
        bootbox.confirm(STR_ASK_DELETE, function (result) {
            if (result) {
                postJSON("OrdenCompraDetalle_C.php", { action: "d", id: id }, function (data) {
                    if (!validErrorResponse(data)) {
                        notifySuccess();
                        listOrdenCompraDetalles();
                    }
                });
            }
        });
    }
    startDatePicker();
</script>