<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Orden de Compra</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Ordenes de Compra </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Listado </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Actualizar" data-placement="top" onclick="listOrdenesCompra();"><i class="flaticon-refresh"></i></a>
                <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Agregar" data-placement="top" onclick="showOrdenCompraForm('i');"><i class="flaticon2-add-1"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <table id="table" class="table table-hover table-bordered table-striped table-sm">
        <thead class="thead-dark"></thead>
    </table>
</div>
<script>
    function listOrdenesCompra() {
        postJSON("OrdenCompra_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                destroyDataTableIfExists("table");
                $('#table').DataTable({
                    data: JSON.parse(data),
                    columns: [
                        { title: "Código", data: "codigo" },
                        { title: "Proveedor", data: "proveedor" },
                        { title: "Fecha", data: "fecha" },
                        { title: "Proforma", data: "proforma_codigo" },
                        {
                            title: "Acciones", className: "td-actions", render: function (data, type, row, meta) {
                                if (row.can_delete === "0") {
                                    return '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Editar" onclick="showOrdenCompraForm(\'v\',' + row.id + ');"><i class="fa fa-eye"></i></button>'
                                } else {
                                    return '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Editar" onclick="showOrdenCompraForm(\'u\',' + row.id + ');"><i class="fa fa-pencil-alt"></i></button>&nbsp;' +
                                        '<button type="button" class="btn btn-outline-danger btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Eliminar" onclick="deleteOrdenCompra(' + row.id + ');"><i class="fa fa-trash"></i></button>'
                                }
                            }
                        }
                    ]
                });
            }
        });
    }
    function showOrdenCompraForm(action, id) {
        getHTMLContainerWithCallBack('orden_compra/iu.html', function () {
            if (action === "i") {
                fillPersonaByPersonaTipo();
                $("#divOptionsOrdenCompraDetalle").hide();
                generateNextCodigo();
            } else if (action === "u") {
                $("#form #id").val(id);
                $("#form #action").val("u");
                getOrdenCompra(id);
            } else if (action === "v") {
                $("#form #id").val(id);
                $("#form #action").val("v");
                getOrdenCompra(id);
                $("#persona_proveedor_id").attr("disabled", true);
                $("#fecha").attr("disabled", true);
                $("#proforma_codigo").attr("disabled", true);
                $("#divOptionsOrdenCompraDetalle").parent().parent().remove();
            }
        });
    }
    function deleteOrdenCompra(id) {
        bootbox.confirm(STR_ASK_DELETE, function (result) {
            if (result) {
                postJSON("OrdenCompra_C.php", { action: "d", id: id }, function (data) {
                    if (!validErrorResponse(data)) {
                        notifySuccess();
                        listOrdenesCompra();
                    }
                });
            }
        });
    }
    listOrdenesCompra();
</script>