<h3 id="titleAction">Registro</h3>
<form id="form">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" maxlength="100">
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control form-control-sm" id="descripcion" name="descripcion" placeholder="Descripción" maxlength="200"></textarea>
    </div>
    <div class="only-options-right">
        <input type="hidden" id="action" name="action" value="i">
        <input type="hidden" id="id" name="id">
        <button type="submit" class="btn btn-success btn-sm"><i class="la la-save"></i>Guardar</button>
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="closeLastModal();">Cancelar</button>
    </div>
</form>
<script>
    function saveRol() {
        postJSONForm("Rol_C.php", "form", function (data) {
            if (!validErrorResponse(data)) {
                closeLastModal();
                notifySuccess();
                listRoles();
            }
        });
    }
    function getRol() {
        if ($("#action").val() === "u") {
            postJSON("Rol_C.php", { action: "get", id: $("#form #id").val() }, function (data) {
                if (!validErrorResponse(data)) {
                    dataResponse = JSON.parse(data)[0];
                    $("#titleAction").html("Editar");
                    $("#nombre").val(dataResponse.nombre);
                    $("#descripcion").val(dataResponse.descripcion);
                }
            });
        }
    }
    $("#form").validate({
        rules: {
            nombre: {
                required: true,
                maxlength: 100
            },
            descripcion: {
                maxlength: 200
            }
        },
        messages: {
            nombre: {
                required: STR_CAMPO_REQUERIDO,
                maxlength: STR_SOLO_SE_PERMITEN + "{0}" + STR_CARACTERES_COMO_MAXIMO
            },
            descripcion: {
                maxlength: STR_SOLO_SE_PERMITEN + "{0}" + STR_CARACTERES_COMO_MAXIMO
            }
        },
        submitHandler: function (form) {
            saveRol();
        }
    });
</script>