<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Kardex</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Cadex </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Listado </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="divToolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Actualizar" data-placement="top" onclick="listKardexByAlmacen();"><i class="flaticon-refresh"></i></a>
                <a class="btn btn-icon btn btn-label btn-label-danger btn-bold" data-toggle="tooltip" title="Mostrar Eliminados" data-placement="top" onclick="changeViewType();" id="btn_view_type"><i class="flaticon-eye"></i></a>
                <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Registrar Ingreso" data-placement="top" onclick="showKardexForm('i');"><i class="flaticon2-add-1"></i></a>
                <input type="hidden" id="view_del" value="0">
            </div>
        </div>
    </div>
</div>
<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col">
                    <div class="form-group" style="margin-bottom: 1rem;">
                        <select class="form-control form-control-sm" id="almacen_id_general" name="almacen_id_general" onchange="listKardexByAlmacen();">
                        </select>
                        <span class="mutted" id="ubicacion" style="margin-left: 5px; margin-right: 5px;"></span>
                    </div>
                </div>
            </div>
            <div id="divTable">
                <table id="table" class="table table-hover table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Unidad de Medida</th>
                            <th>Cantidad</th>
                            <th>F.Ingreso</th>
                            <th>F.Vencimiento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function changeViewType() {
        var view_del = $("#view_del").val();
        if (view_del === "0") {
            $("#view_del").val("1");
            $("#btn_view_type").attr("class", "btn btn-icon btn btn-label btn-label-brand btn-bold");
            $("#btn_view_type").attr("data-original-title", "Mostrar Registros actuales.");
            $("#btn_view_type").attr("title", "Mostrar Registros actuales.");
        } else {
            $("#view_del").val("0");
            $("#btn_view_type").attr("class", "btn btn-icon btn btn-label btn-label-danger btn-bold");
            $("#btn_view_type").attr("data-original-title", "Mostrar Registros actuales.");
            $("#btn_view_type").attr("title", "Mostrar Eliminados.")
        }
        listKardexByAlmacen();
        startTooltip();
    }
    function fillAlmacen(idAlmacen) {
        postJSON("Almacen_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                $("#almacen_id_general").html('<option value="">Seleccione Almacen</option>');
                var arrayProductos = JSON.parse(data);
                arrayProductos.forEach(function (object, index) {
                    $("#almacen_id_general").append('<option value="' + object.id + '">' + object.nombre + '</option>');
                });
                if (typeof idAlmacen !== 'undefined') {
                    $("#almacen_id_general").val(idAlmacen);
                }
                startSelect2ById("almacen_id_general");
                listKardexByAlmacen();
            }
        });
    }
    function listKardexByAlmacen() {
        $("#divTable").hide();
        $("#divToolbar").hide();
        var idAlmacen = $("#almacen_id_general").val();
        if (idAlmacen !== "") {
            $("#divTable").show();
            $("#divToolbar").show();
            var ubicacion = $("#almacen_id_general option:selected").attr("data-ubicacion");
            ubicacion !== "" ? $("#ubicacion").text(ubicacion) : ""
            postJSON("Kardex_C.php", { action: "listByAlmacen", almacen_id: idAlmacen, del: $("#view_del").val() }, function (data) {
                if (!validErrorResponse(data)) {
                    var listKardex = JSON.parse(data);
                    destroyDataTableIfExists("table");
                    $('#table tbody').html("");
                    var view_del = $("#view_del").val();
                    foreach(listKardex, function (object, index) {
                        var html =
                            `
                            <tr>
                                <td>`+ object.producto + `</td>
                                <td>`+ object.unidad_medida_id + `</td>
                                <td>`+ object.cantidad + `</td>
                                <td>`+ object.fecha_ingreso + `</td>
                                <td>`+ object.fecha_vencimiento + `</td>
                                <td class="td-actions">`;
                        if (view_del === "0") {
                            html += `<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Convertir" onclick="showConvertForm('` + object.id + `','` + object.unidad_medida_id + `','` + object.unidad_medida + `','` + object.cantidad + `','` + object.producto.replace('"', '\\x22').replace('"', '\\x22').replace('"', '\\x22') + `','` + object.producto_id + `','` + object.fecha_ingreso + `','` + object.fecha_vencimiento + `');" > <i class="fa fa-exchange-alt"></i></button>&nbsp;
                                     <button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Asignar"><i class="fa fa-sign-out-alt"></i></button>&nbsp;
                                     <button type="button" class="btn btn-outline-danger btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Eliminar" onclick="delKardex('` + object.id + `');"><i class="fa fa-trash"></i></button>&nbsp;`;
                        }

                        html +=
                            `       <button type="button" class="btn btn-outline-success btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Movimientos" onclick="showKardexMovimientosListForm('` + object.id + `');"><i class="fa fa-eye"></i></button>
                                </td>
                            </tr>`;
                        $('#table tbody').append(html);
                        $('#table tbody tr:last').find("[title='Asignar']").click(function () {
                            showAsignarForm(object);
                        });
                    });
                    $('#table').DataTable();
                }
            });
        }
    }
    function showKardexMovimientosListForm(kardex_id) {
        getModalExtraLargeWithCallBack('kardex_movimiento/list_only_view.html', function () {
            $("#kardex_id").val(kardex_id);
            listKardexMovimientoByKardexId();
        });
    }
    function showKardexForm(action, id) {
        getModalExtraLargeWithCallBack('kardex/iu.html', function () {
            $("#titleAction").text($("#almacen_id_general option:selected").text());
        });
    }
    function showConvertForm(idKardex, idUnidadMedidaIngreso, unidadMedidaIngreso, cantidad, producto, idProducto, fechaIngreso, fechaVencimiento) {
        getModalWithCallBack('kardex/convert.html', function () {
            $("#titleActionConvert").text(producto);
            $("#unidad_medida_ingreso_id").val(idUnidadMedidaIngreso);
            $("#unidad_medida_ingreso").val(unidadMedidaIngreso);
            $("#cantidad_inicial").val(cantidad);
            $("#cantidad").val(cantidad);
            $("#id").val(idKardex);
            $("#producto_id").val(idProducto);
            $("#almacen_id").val($("#almacen_id_general").val());
            $("#fecha_ingreso").val(fechaIngreso);
            $("#fecha_vencimiento").val(fechaVencimiento);
            fillUnidadMedida();
        });
    }
    function showAsignarForm(objectKardex) {
        getModalLargeWithCallBack('kardex/asignar.html', function () {
            $("#titleAction").text(objectKardex.producto);
            $("#unidad_medida").val(objectKardex.unidad_medida);
            $("#fecha_ingreso").val(objectKardex.fecha_ingreso);
            $("#fecha_vencimiento").val(objectKardex.fecha_vencimiento);
            $("#kardex_id").val(objectKardex.id);
            $("#unidad_medida_id").val(objectKardex.unidad_medida_id);
            $("#producto_id").val(objectKardex.producto_id);
            $("#cantidad_maxima").val(objectKardex.cantidad);
            fillProyecto();
        });
    }
    function delKardex(id) {
        askDelete(function (result) {
            if (result) {
                postJSON("Kardex_C.php", { action: "del", id: id }, function (data) {
                    if (!validErrorResponse(data)) {
                        notifySuccess();
                        listKardexByAlmacen();
                    }
                });
            }
        });
    }
    fillAlmacen();
</script>