<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Almacen</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Almacenes </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Listado </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="tooltip" title="Agregar" data-placement="top" onclick="getModal('almacen/iu.html');"><i class="flaticon2-add-1"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <table id="table" class="table table-hover table-bordered table-striped table-sm">
        <thead class="thead-dark"></thead>
    </table>
</div>
<script>
    function listAlmacenes() {
        postJSON("Almacen_C.php", { "action": "list" }, function (data) {
            if (!validErrorResponse(data)) {
                destroyDataTableIfExists("table");
                $('#table').DataTable({
                    data: JSON.parse(data),
                    columns: [
                        { title: "Nombre", data: "nombre" },
                        { title: "Ubicacion", data: "ubicacion" },
                        {
                            title: "Acciones", className: "td-actions", render: function (data, type, row, meta) {
                                return '<button type="button" class="btn btn-outline-info btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Editar" onclick="getAlmacen(' + row.id + ');"><i class="fa fa-pencil-alt"></i></button>&nbsp;' +
                                    '<button type="button" class="btn btn-outline-danger btn-elevate btn-icon btn-circle btn-xs" data-toggle="tooltip" title="Eliminar" onclick="deleteAlmacen(' + row.id + ');"><i class="fa fa-trash"></i></button>'
                            }
                        }
                    ]
                });
            }
        });
    }
    function getAlmacen(id) {
        getModalWithCallBack('almacen/iu.html', function () {
            postJSON("Almacen_C.php", { action: "get", id: id }, function (data) {
                if (!validErrorResponse(data)) {
                    dataResponse = JSON.parse(data)[0];
                    $("#titleAction").html("Editar");
                    $("#action").val("u");
                    $("#id").val(id);
                    $("#nombre").val(dataResponse.nombre);
                    $("#ubicacion").val(dataResponse.ubicacion);
                }
            });
        });
    }
    function deleteAlmacen(id) {
        bootbox.confirm(STR_ASK_DELETE, function (result) {
            if (result) {
                postJSON("Almacen_C.php", { action: "d", id: id }, function (data) {
                    if (!validErrorResponse(data)) {
                        notifySuccess();
                        listAlmacenes();
                    }
                });
            }
        });
    }
    listAlmacenes();
</script>